body {
  background-color: rgb(255, 255, 255) !important;
  padding: 10px;
  margin: 0px;
  padding: 0px !important;
  /* background: #ffffff url("/fundo2.jpg") repeat; */
  /* font-family: "Sarala", sans-serif !important; */

  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  
  /* background: url("/bg.jpg"); */

  background: url(./bg.jpg) no-repeat top center fixed;
  background-image: url(./bg.jpg);
  background-position-x: center;
  background-position-y: top;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: cover;
}

.accordion-body {
  background: transparent;
}

.navbar {
  margin-top: 0px !important;
}

.container-fluid {
  display: flex;
  padding: 10px;
  align-items: center;
  padding: 0;
  padding-left: 0 !important;
}

.navbar-bem-vindo {
  width: 100px !important;
}

#navbar-dados-aluno {
  display: flex;
  padding: 0px;
  width: 100px;

}

#navbar-dados-aluno p {
  margin: 0px;
}

 .btn-sair{
  background-color: rgb(250, 148, 148);
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
}

.btn-sair:hover{
  background-color: rgb(249, 184, 184);
}

 .navbar-expand-sm {
  min-height: 36px;
  background-color: #ec1f6d !important;
}

.main-container {
  max-width: 900px !important;
  width: 100% !important;
  background-color: rgb(255, 255, 255);
  height: 50vh;
  margin-top: 100px !important;
  overflow: hidden;
  background: transparent;
}

.accordion-header {
  max-width: 900px !important;
}

 .logo-afya{
  width: 100px;
  background-color: #414e57;
  margin: 0px;
  padding: 20px;
}



#fundo-branco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2
}

.background-image {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.btn-atividades {
  /* max-width: 900px !important;
  background-color: aqua !important;
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: 25px !important; */

  background-color: #414e57 !important;
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: 25px !important;
}

.botao-container {
  max-width: 400px !important;
  width: 100% !important;
  min-width: 240px;
  margin-bottom: 0px !important;
}

.btn-registrar {
  /* max-width: 400px !important;
  width: 100% !important;
  min-width: 248px; */

  max-width: 400px !important;
  width: 100% !important;
  /* min-width: 248px; */
  background-color: #ec1f6d !important;
}

.link-btn-registrar {
  text-decoration: none;
  color: white;
}

.lista-de-atividades {
  width: 100% !important;
  height: 265px !important;
  /* max-width: 900px !important; */
  overflow: scroll !important;
  font-weight: bold;
  font-size: 15px !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

.accordion-button {
  max-width: 900px !important;

  min-width: 240px;
}

ul {
  max-width: 900px !important;
  margin: 0 !important;
  padding: 0 !important;
  max-height: 334px;
  border: 1px solid #ccc;
  /* overflow-y: auto; */
}


li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 900px !important;
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

/* Ensuring p elements are properly sized and spaced */
li p {
  margin: 5px;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  word-wrap: break-word;
  /* Handle long words */
}

li.selecionado {
  background-color: #dfdfdf;
  border: solid #b9b9b9 1px;
  /* cor de destaque para itens selecionados */
}

@media (max-width: 600px) {
  li {
    flex-direction: column;
    align-items: flex-start;
  }

  li p {
    text-align: left;
    width: 100%;
  }

  li .ul-li-nomealuno {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
  }

}

li .ul-li-nomealuno {
  /* background-color: aquamarine; */
  min-width: 200px;
  max-width: 200px;
}

li .ul-li-p {
  /* background-color: gray; */
  min-width: 250px;
  max-width: 250px;
}

li:hover {
  color: rgb(127, 215, 253);
}